<!-- <div class="searchbar">Search</div> -->
<div class="body-div">
  <div class="videodiv"><script src="//content.jwplatform.com/players/<%= logged_in? ? Video.mediakey(Time.now.in_time_zone(current_user.time_zone).strftime("%Y%m%d").to_i) : Video.mediakey(Time.now.strftime("%Y%m%d").to_i) %>-oEEyLY9V.js"></script></div>
  <div class="video-details">
      Today's Workout - <%= logged_in? ? Time.now.in_time_zone(current_user.time_zone).strftime("%m/%d") : Time.now.strftime("%m/%d") %>
      <p></p>
      Create an account to log your workouts, calories, etc.
  </div>

<!-- BEGIN javascript scripts for updating user model data -->
<script>
var duration = 0;
var duration;  
           jwplayer().onBuffer(function () {
            duration = this.getDuration();   
            console.log(duration);
            }       
    );

    jwplayer().onPlay(function () {
            if(duration==-1)
            duration=this.getDuration();
            console.log(duration);
            }       
    );

</script>

<script>
var plays = 0
jwplayer().onPlay(function () {
    plays++
    if(plays == 1) {
    setInterval(alertFunc, 1000);
    }
});
var timeWatched = 0;
function alertFunc() {
    if(jwplayer().getState() == "playing" && timeWatched < duration){
        timeWatched++;
        $.ajax("/users/increase_workoutseconds");
    } else if (timeWatched >= duration) {
        clearInterval(theInterval);
        timeWatched = 0
    }    
    else {
        console.log("error in alertFunc!")
    }    
}
</script>

<script>
jwplayer().on('complete', function() {
  $.ajax("/users/increase_workouts")
});
</script>
<!-- END javascript scripts for updating user model data -->

</div>