<div id="container" class="box">

    <div class="box2 top">
      Search Box
    </div>

    
    <div class="box middle left"><%= image_tag("cardio_300x350", size: "300x350") %>
    <h1><span>Cardio</span></h1></div>
    <div class="box middle center"><%= image_tag("pushup_male_300x350", size: "300x350") %>
    <h1><span>Strength</span></h1></div>
    <div class="box middle right"><%= image_tag("stretching_300x350", size: "300x350") %>
    <h1><span>Stretching</span></h1></div>
<% if false %>    
    <div class="box bottom left"></div>
    <div class="box bottom center"></div>
    <div class="box bottom right"></div>
<% end %>
</div>