<!-- <div class="searchbar">Search</div> -->
<div style="background:#f5f5f5 !important" class="center jumbotron">
  <h1>Today's Workout - <%= logged_in? ? Time.now.in_time_zone(current_user.time_zone).strftime("%m/%d") : Time.now.strftime("%m/%d") %></h1>
  <h2>Create an account to log your workouts, calories, etc.</h2>

<center><script src="//content.jwplatform.com/players/<%= logged_in? ? Video.mediakey(Time.now.in_time_zone(current_user.time_zone).strftime("%Y%m%d").to_i) : Video.mediakey(Time.now.strftime("%Y%m%d").to_i) %>-3sPMNLmx.js"></script>

<script>
var duration = 0;
var duration;  
           jwplayer().onBuffer(function () {
            duration = this.getDuration();   
            console.log(duration);
            }       
    );

    jwplayer().onPlay(function () {
            if(duration==-1)
            duration=this.getDuration();
            console.log(duration);
            }       
    );

</script>

<script>
var plays = 0
jwplayer().onPlay(function () {
    plays++
    if(plays == 1) {
    setInterval(alertFunc, 1000);
    }
});
var timeWatched = 0;
function alertFunc() {
    if(jwplayer().getState() == "playing" && timeWatched < duration){
        timeWatched++;
        $.ajax("/users/increase_workoutseconds");
    } else if (timeWatched >= duration) {
        clearInterval(theInterval);
        timeWatched = 0
    }    
    else {
        console.log("error in alertFunc!")
    }    
}
</script>

<script>
jwplayer().on('complete', function() {
  $.ajax("/users/increase_workouts")
});
</script>
 </center>

</div>