/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html, body, form, fieldset, table, tr, td, img {
    margin: 0;
    padding: 0;
    font: 100%/150% Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
 
 .center {
     display: block;
     margin: auto;
 }
 
 #header {
     padding-bottom: 3%;
     position: relative;
 }
 
#videobg {
    position: relative;
}
#logo {
      float: left;
      height: 46px;
      line-height: 46px;
      white-space: nowrap;
      margin-top: 10px;
      margin-bottom: -12px;
      padding-left: 10%;
}

#menu {
    float: right;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    margin-right: 20px;
    padding-right: 8%;

}

#menu li {
    display: inline;
    padding: 10px;
}

#menu li {
    color: orange;
    
}

#searchbar {
    clear:left;
    width: 100%;
    float: left;

}

#searchbar img {

    text-align: center;
}

#spacer {
    clear:both;
    height: 10%;
    margin-bottom: 5px;
}

.first_bullet {
    border: 1px solid grey; margin: 0; line-height: 45px;
    
}

#footerbg {
    height: 20px;
    background-color: white;
}

menutitle {
    font-size: 12pt;
    color: orange;
    padding-top: 15px;
}

#footerbg ul li {
    color: orange;
    font-size: 11pt;
    display: inline;
    padding-right: 10px;
    font-family: Roboto;
}

.footermenu {
    float: right;
    padding-right: 40px;
}
