$navbar-inverse-bg: orange;
$navbar-inverse-brand-color: white;
$navbar-inverse-border: orange;
$grid-float-breakpoint: 100px;

.container-fluid{
   margin: 0% !important;
   padding: 0 !important;
}

nav {
  height: 60px !important;
  line-height: 60px !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-right {
  height: 60px;
}

nav > ul {
  vertical-align: middle;
}

header h1 {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 28pt;
}

header h2 {
  color: rgba(255,255,255,.7);
  font-size: 16pt;
  padding-top: 0;
  margin-top: 0;
}

/* .navbar-inverse {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;

  .navbar-brand {
    color: $navbar-inverse-brand-color;
    &:hover,
    &:focus {
      color: $navbar-inverse-brand-hover-color;
      background-color: $navbar-inverse-brand-hover-bg;
    }
  }


.navbar-text {
    color: $navbar-inverse-color;
  }
  */
.navbar-inverse {
  height: 60px;
}
.navbar-nav {
    > li > a {
      border: 1px solid;
      border-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      background-color: rgba(255,255,255,.3);
      color: white !important;
      width: 120px !important;
      text-align: center !important;
      height: 40px;
      padding-top: 0 !important;
      line-height: 40px !important;
      margin-top: 10px;
      float: right;
      
}
}

.navbar-nav {
    > li > a:hover {
      color: orange !important;
      background-color: white !important;
      
}
}
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  padding-top: 60px;
  width: 100% !important;
  margin-right: 0px;
}

html {
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  font-size: 2.5em;
  color: white;
  margin-left: 10px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#profile-image:hover {
  background: rgba(204,101,0,.2);
}

#profile-image {
  padding: 2px 1px 2px 0px;
  border-radius: 5px;
  width: 60px;
}

/* homepage */

.vidcontainer {
  width: 50%;
  margin: 1% 0 0 10%;
  float: left;
  box-shadow: rgba(0,0,0,.2) 0px 1px 5px 2px;
}

.vidstats {
  width: 29%;
  margin: 1% 0 0 1%;
  padding: 0 0 0 0;
  float: left;
  background: white;
  border: 1.5px solid rgba(black, .1);
}

.video-details {
  width: 29%;
  margin: 1% 10% 0 1%;
  padding: 0 0 1% 0;
  float: right;
  display: inline;
  background: white;
  box-shadow: rgba(0,0,0,.2) 0px 1px 5px 2px;
  top: 0;
  position: absolute;
  overflow: hidden;
  bottom: 13px;
}

.commentbox {
  width: 50%;
  height: 130px;
  padding: 10px 10px 10px 20px;
  float: left;
  clear: left;
  background: white;
  margin-top: 13px;
  margin-left: 10%;
  margin-bottom: 13px;
  display: inline;
  box-shadow: rgba(0,0,0,.2) 0px 1px 5px 2px;
}

@media only screen and (max-width: 1024px) {
    .vidcontainer {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .video-details {
      width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
        clear: both;
        position: relative;
        height: 360px;
        margin-bottom: 20px;
    }
    .commentbox {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 1%;
      margin-top: 2%;
      float: left;
      clear:both;
    }
    .vidTitle {
      font-size: 26px !important;
    }
    .quote {
      font-size: 20px !important;
      font-style: italic;
    }
    .microposts {
      height: 200px;
    }
    
    
    .navbar-nav {
      margin: 0 0 0 0;
    }
    
    .navbar-nav > li {
      display: inline;
      float: right;
      margin-left: 5px;
    }
    .navbar-nav {
    > li > a {
      border: 1px solid;
      border-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      background-color: rgba(255,255,255,.3);
      color: white !important;
      width: 85px !important;
      text-align: center !important;
      height: 40px !important;
      padding-top: 0 !important;
      line-height: 40px !important;
              }
    }
    #flex {
      display: flex; 
      flex-direction: column;
      float: left;
      clear: both;
      width: 100%;
      overflow: hidden;
    }
    #flex > #right-column-home { order: 2; }
    #flex > #b { order: 1; }

}

.vidTitle {
  font-size: 28px;
}

.quote {
  font-size: 22px;
  font-style: italic;
}

.body-div {
  overflow: hidden;
  position: relative;
  background: #f5f5f5;
  float:left;
  width: 100%;
  height: 100%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.wrapper-image {
  clear: both;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    color: black;
    font-size: 14pt;
    font-weight: normal;
    float: left;
    border: 1px solid red;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

padright {
  padding-left: 20px;
  font-weight: normal;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    color: black;
  }
}

/* microposts */

.comments {
  width: 90%;
  margin: 0 5% 0 5%;
  overflow: hidden;
}


::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.microposts {
  list-style: none;
  padding: 0;
  width: 95%;
  overflow: scroll;
  position: absolute;
  /*box-shadow: rgba(0,0,0,.2) 1px 1px 1px 1px; */
  bottom: 125px;
  top: 50px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: inline;
    font-size: 10px;
    font-style: italic;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.microposts2-nomicroposts {
  list-style: none;
  bottom: 4%;
  position: absolute;
  width: 90%;
  padding: 0;
}

.microposts2 {
  list-style: none;
  bottom: 4%;
  position: absolute;
  width: 90%;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: inline;
    font-size: 10px;
    font-style: italic;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.micropostUsername {
  color: orange;
  display: inline;
  font-size: 11px;
  font-weight: bold;
}

.micropostContent {
  width: 100%;
  word-break:break-all;
}

#commentCount {
  display: inline;
}

.microposts3 {
  list-style: none;
  bottom: 14%;
  position: absolute;
  width: 90%;
  padding: 0;
  text-align: center;
}
/* Dashboard */

.youtube-box {
  box-shadow: rgba(0,0,0,.2) 1px 1px 1px 1px;
  background: white;
  padding: 20px 20px 20px 20px;
}

.top-spacing { 
  margin-top: 10px;
}

.small-bottom-margin {
  margin-bottom: 6px;
}

.crunched-box {
  border: 1px solid rgba(0,0,0,.2);
  background: white;
  height: 155px;
}

.bolded-font {
  font-weight: bold;
}
/* header id */
#some-div {
  text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}