// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
    width:100%;
    height:600px;
    position:relative;
    border:1px solid #f5f5f5;
    background-color: #f5f5f5;

}
.box{
    /* border:1px solid use when locating boxes for dev red*/;
    position:absolute;
    width:300px;
    height:350px;

}
.box2{
    border:1px solid red;
    position:absolute;
    width: 100%;
    text-align: center;

}
.top{top:0; padding: 15px;}
.middle{top:20%;margin-top: 0px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left: 10%;
}
.center{left:40%;margin-left:-20px;/*half of the .box width*/
    font-size: 14pt;
}
.right{right:10%;}

span {
    color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 28pt;
    border: 1px solid rgba(245,245,245,.6);
    background-color: rgb(245,245,245); /*fallback for non-supported browser */
    background-color: rgba(245,245,245, .4);
    height: 50px;
    line-height: 50px;
}